/*     mapas    */

$main: (
    /* key - valor */
    color-main: black,
    bg-main: white,
);

$footer: (
    /* key - valor */
    color-footer: white,
    bg-footer: black,

);



main {
    background-color: map-get($map: $main, $key:bg-main );
}

footer {
    background-color: map-get($map: $footer, $key: bg-footer );
}